<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <display-name>Authentication App</display-name>
    <description>A small web service allowing users to authenticate.</description>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <url-pattern>*.jspf</url-pattern>
        </jsp-property-group>
    </jsp-config>
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>AuthenticationServlet</servlet-name>
        <servlet-class>app.authentication.controller.AuthenticationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AuthenticationServlet</servlet-name>
        <url-pattern>/authentication</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserActionsServlet</servlet-name>
        <servlet-class>app.authentication.controller.UserActionsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserActionsServlet</servlet-name>
        <url-pattern>/actions</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserLogoutServlet</servlet-name>
        <servlet-class>app.authentication.controller.UserLogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserLogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserIpPermitsServlet</servlet-name>
        <servlet-class>app.authentication.controller.UserIpPermitsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserIpPermitsServlet</servlet-name>
        <url-pattern>/permits</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PasswordChangeServlet</servlet-name>
        <servlet-class>app.authentication.controller.PasswordChangeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PasswordChangeServlet</servlet-name>
        <url-pattern>/changePass</url-pattern>
    </servlet-mapping>
</web-app>